@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

:root {
  --bg-dark: #111;
  --text-default: #FFF;
  --text-secondary: #888;
  --accent: #FF5722;
  --text-muted: #998f8f;
}


* {
  box-sizing: border-box;
}
body {
  margin: 0;
  background-color: var(--bg-dark);
  color: var(--text-default);
   overflow-x: hidden;
  font-family: 'Inter', sans-serif;
}